{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>Oh no Dont show page</p>
{% else %}

<h2>Register</h2>
<!-- <form action="/register/" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="submit" value="Log in">
</form> -->
<form action="/register/" method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput"  name="username" placeholder="Username">
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
{% endif %}
{% endblock %}
